code {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
}

label {
    margin-bottom: calc(var(--pico-spacing) * .25);
}
.container {
    max-width: 700px;
}
[name="store_id"] {
    visibility: hidden;
}
.choices,
.choices__inner,
.choices__input,
.choices__list--dropdown .choices__item {
    font-size: inherit;
}
.choices {
    margin-bottom: var(--pico-spacing) !important;
}
.choices__inner {
    align-items: center;
    background-color: var(--pico-form-element-background-color);
    border-radius: var(--pico-border-radius);
    display: flex;
    height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
}